version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: task_db
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: taskmaster_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: task_pgadmin
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
     - db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
        DATABASE_URL: postgresql://admin:admin123@db:5432/taskmaster_db?schema=public
    container_name: task_backend
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      API_KEY: ${API_KEY:-dev-key}
      DATABASE_URL: postgresql://admin:admin123@db:5432/taskmaster_db?schema=public
    depends_on:
      - db
    command: ["node", "dist/src/main.js"]
volumes:
  postgres_data: